.git
.github
.gitattributes
.gitignore
.dockerignore
app/storage/logs/*
app/storage/views/*
vendor/*
storage/framework/cache/*
public/uploads
storage/**
node_modules
.vagrant
.idea
# .env dibutuhkan di container!

# Exclude additional unused/heavy folders from build context
_archived/
sample_csvs/
tests/
node/
data/
public/storage/
public/vendor/
public/hot
